.description {
width: 100%;
position: relative;
padding-bottom: 40px;
}


.textBlock {
    height: 60px;
    color: #ffffff;
    overflow: hidden;
    text-align: start;
    
}

.textBlockOverFlow {
    height: 60px;
    overflow-y: scroll;
    color: #ffffff;
    text-align: start;
}

.text {
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
}
.textNoHiden{
    overflow: visible;
    white-space: pre-wrap; 
}

.btn {
    width: 120px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color:  #ffffff;
    background-color: rgba(0, 50, 50, 0.5);
}

.btn:hover{
    color: #000000;
    background-color: rgba(251, 246, 246, 0.8);
    transition: 0.5s;
}