.carousel{
    min-height: 100vh;
    padding-top: 100px;
    background-color: #275702;
}

.block{
    width: 60%;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 37px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 37px 3px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 37px 3px rgba(0,0,0,0.75);
}